* {
  font-family: sans-serif;
}

@page {
  margin: 0;
}

.wrapper {
  overflow: visible !important;
}

div.jQBracket p {
  color: #fff;
  text-align: left;
  overflow: hidden;
}

div.jQBracket .team.lose {
  background-color: #222222;
  color: #999;
}

div.jQBracket .team .score .team.lose div.score,
div.jQBracket .team.win div.score {
  color: #DCDCDC;
  text-align: center;
}

div.jQBracket .team.win {
  background-color: #dd4b39;
  color: #999;
}

div.jQBracket .team.highlight {
  background-color: #E3E3E3;
  color: red;
}

div.jQBracket .team {
  background-color: #525252;
  height: 45px;
  padding: 5px;
}


/* MEMBERI WARNA SUDUT */
/* div.jQBracket .teamContainer .team:first-child {
  background-color: #a71300;
}

div.jQBracket .teamContainer .team:nth-child(2) {
  background-color: #0070b1;
} */

.Tapak_Suci div.jQBracket .teamContainer .team:first-child {
  background-color: #0b00a8 !important;
  color: #ffffff !important;
}

.Tapak_Suci div.jQBracket .teamContainer .team:first-child .nama_atlet_bagan,
.Tapak_Suci div.jQBracket .teamContainer .team:first-child .kontingen_bagan {
  color: #ffffff !important;
}

.Tapak_Suci div.jQBracket .teamContainer .team:nth-child(2) {
  background-color: #ffee00e5 !important;
  color: #222222 !important;
}

.Tapak_Suci div.jQBracket .teamContainer .team:nth-child(2) .nama_atlet_bagan,
.Tapak_Suci div.jQBracket .teamContainer .team:nth-child(2) .kontingen_bagan {
  color: #222222 !important;
}



/* PERSILAT */

.PERSILAT div.jQBracket .teamContainer .team:first-child {
  background: radial-gradient(circle at 10.6% 22.1%, rgb(5, 85, 206) 0%, rgb(28, 5, 129) 100.7%);
  color: #ffffff !important;
}

.PERSILAT div.jQBracket .teamContainer .team:first-child .nama_atlet_bagan,
.PERSILAT div.jQBracket .teamContainer .team:first-child .kontingen_bagan {
  color: #ffffff !important;
}

.PERSILAT div.jQBracket .teamContainer .team:nth-child(2) {
  background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
  color: #ffffff !important;
}

.PERSILAT div.jQBracket .teamContainer .team:nth-child(2) .nama_atlet_bagan,
.PERSILAT div.jQBracket .teamContainer .team:nth-child(2) .kontingen_bagan {
  color: #ffffff !important;
}




/* PERSILAT */

.IPSI_2012 div.jQBracket .teamContainer .team:first-child {
  background-color: #c70000 !important;
  color: #ffffff !important;
}

.IPSI_2012 div.jQBracket .teamContainer .team:first-child .nama_atlet_bagan,
.IPSI_2012 div.jQBracket .teamContainer .team:first-child .kontingen_bagan {
  color: #ffffff !important;
}

.IPSI_2012 div.jQBracket .teamContainer .team:nth-child(2) {
  background-color: #002ec7 !important;
  color: #ffffff !important;
}

.IPSI_2012 div.jQBracket .teamContainer .team:nth-child(2) .nama_atlet_bagan,
.IPSI_2012 div.jQBracket .teamContainer .team:nth-child(2) .kontingen_bagan {
  color: #ffffff !important;
}


div.jQBracket .team .label {
  height: 35px !important;
  text-align: left;
}

.bagan_tunggal div.jQBracket .team .label {
  height: 35px !important;
  text-align: left;
}

.bagan_ganda div.jQBracket .team .label {
  height: 55px !important;
  text-align: left;
}

.bagan_beregu div.jQBracket .team .label {
  height: 75px !important;
  text-align: left;
}

div.jQBracket .team div.label {
  overflow-x: hidden;
  padding-right: 10px;
}
.nama_atlet_bagan {
  margin-bottom: 2px;
  line-height: 90%;
  font-weight: bold;
  font-size: 1em !important;
}

.nama_atlet_bye {
  margin: 8.5px 0;
  font-size: 12px;
  font-weight: bold;
}

.kontingen_bagan {
  font-size: 0.7em;
  margin: 0;
}

p.nama-atlet {
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
}

p.kontingen {
  font-size: 0.75em;
  text-transform: uppercase;
}

/* TABLE */
#tabel_kompetisi_tanding tbody td,
#tabel_kompetisi_tanding thead th,
#tabel_pertandingan td {
  text-align: center;
}